@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Gothic Expanded One", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(12, 11, 11);
}
